<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Tense Premium</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/maker">Tens</a></div>
  </nav>
  <h3>I had too many issues getting premium to work for this project, so it automatically applies premium when you register:</h3>
  <p>My premium is that any teams previously made on Tense will <b>reroll</b> when you refresh the page so you do not have to re-make teams every time.</p>
  
  <div id="tensMessage">
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>